:root {
  --main-color: #134e21;
  --background-color: #f4f8f1;
  --secondary-color: #afcc96;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 34px;
  color: var(--main-color);
}

.main-color {
  color: var(--main-color);
}

.underline-link {
  margin: 25px auto;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid #000;
  width: fit-content;
}

.underline-link a {
  text-decoration: none;
  color: #000;
  transition: all 200ms ease-in-out;
}

.underline-link a:hover {
  color: var(--secondary-color);
}

.navbar {
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.8px;
  background-color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 11px;
  font-weight: 700;
  margin-right: 8px;
}

.navbar ul {
  width: 100%;
}

.nav-link {
  color: #000;
  opacity: 0.7;
}

header {
  margin: 52.5px 20px 20px 20px;
  background-color: var(--background-color);
}

.header-container {
  padding: 0;
  position: relative;
}

.header-img {
  padding: 20px 20px 20px 0;
}

.header-text {
  padding-left: 50px;
  padding-right: 100px;
}

.header-text h1 {
  line-height: 1.5;
}

.main-button {
  margin-top: 15px;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 0;
}

.secondary-button {
  background-color: var(--secondary-color);
}

.header-logo {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.header-logo:hover {
  background-color: var(--main-color);
  fill: #fff;
}

.worktype {
  margin: 150px 20px 0px 20px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  letter-spacing: 1.4px;
  margin-top: 20px;
  line-height: 1.5;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.border-line {
  border-bottom: 3px solid var(--main-color);
  width: 150px;
  margin: 20px auto;
}

.item-worktype {
  max-width: 300px;
  margin: 30px 15px;
}

.item-worktype img {
  max-width: 100px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.item-worktype img:hover {
  background-color: var(--main-color);
}

.plants {
  margin-top: 100px;
  padding: 100px 0px 100px 70px;
  background-color: var(--background-color);
}

.plants .border-line {
  width: 100%;
}

.plants-row {
  margin-top: 70px;
  padding-right: 70px;
}

.plants-item {
  max-width: 400px;
}

.plants-item img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.plants-price {
  margin-top: 7px;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 0;
  text-transform: uppercase;
  display: inline-block;
}

.sad-photo {
  margin-top: 100px;
  text-align: center;
}

.sad-photo img {
  object-fit: cover;
  height: 500px;
}

.faq {
  text-align: center;
  background-color: #afcc96;
  margin: 100px 20px 0 20px;
  padding: 100px 20px;
}

.faq h2 {
  display: block;
  margin: 0 auto;
}

.faq-button {
  background-color: #fff;
  max-width: 400px;
  margin-top: 100px;
  padding: 30px;
  border: none;
  transition: all 200ms ease-in-out;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.faq-button:hover,
.faq-button:focus {
  background-color: var(--main-color);
  color: #fff;
}

.faq-answer {
  max-width: 400px;
  padding: 30px;
  border-radius: 0;
  border: none;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.4px;
}

.contacts {
  text-align: center;
  padding: 100px 0;
}

.header-button:hover {
  text-decoration: underline;
  border: 1px solid #000;
}

.navbar-toggler {
  font-size: 12px;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

.about-worktype {
  margin-top: 52.5px;
  padding: 100px 0 70px 0;
  text-align: center;
  background-color: var(--background-color);
}

.about-reasons-container {
  margin-top: 100px;
  padding-left: 100px;
}

.about-reasons-container .border-line {
  margin: 20px 0;
}

.about-reasons {
  list-style: none;
  padding: 0;
}

.about-reasons li {
  padding: 40px 0 0 0;
  letter-spacing: 1.4px;
}

.reasons-text {
  padding-left: 100px;
}

.reasons-number {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 600;
  padding: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 34px;
  line-height: 34px;
  display: inline-block;
  margin-right: 20px;
}

.reasons-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plants-heading {
  padding: 150px 0 100px 0;
  text-align: center;
}

.plants-container {
  background-color: var(--background-color);
  padding: 70px;
  margin: 0 20px;
}

.plants-row-space {
  margin-top: 70px;
}

.catalog-link {
  text-align: center;
  margin-top: 40px;
  margin-right: 70px;
}

.catalog-link a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.4px;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 0;
}

.github-link {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  padding-bottom: 50px;
}

.github-link a {
  color: var(--main-color);
}

@media (max-width: 1020px) {
  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 18px;
  }

  h3,
  li {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
  }

  .navbar {
    font-size: 9px;
  }

  .btn {
    font-size: 11px;
  }

  .item-worktype {
    max-width: 200px;
  }

  .plants-price {
    font-size: 10px;
    padding: 5px 15px;
  }

  .faq-button,
  .faq-answer {
    font-size: 12px;
  }

  .about-worktype {
    padding: 65px 0 30px 0;
  }

  .reasons-text {
    padding: 30px;
  }

  .plants-heading {
    padding: 100px 0 60px 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 16px;
  }

  .header-text {
    text-align: center;
    padding: 100px 20px;
  }

  .header-buttons .main-button {
    width: 170px;
  }

  .header-img-col {
    display: none;
  }

  .header-logo {
    width: 20%;
    top: 100%;
  }

  h2 {
    font-size: 16px;
  }

  .item-worktype {
    max-width: 150px;
  }

  .plants,
  .plants-container {
    text-align: center;
    padding: 100px 0;
  }

  .plants-row {
    padding-right: 0px;
  }

  .center-items {
    justify-content: center;
  }

  .plants-item {
    margin: 0 auto 20px auto;
    max-height: 400px;
  }

  .plants .border-line {
    width: 150px;
  }

  .sad-photo-gallery {
    margin-top: 7px;
  }

  .plants-row-space {
    margin: 0;
  }

  .catalog-link {
    margin-right: 0px;
  }
}
