:root {
  --main-color: #134e21;
  --background-color: #f4f8f1;
  --secondary-color: #afcc96;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 34px;
  color: var(--main-color);
}

.main-color {
  color: var(--main-color);
}

.underline-link {
  margin: 25px auto;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid #000;
  width: fit-content;
}

.underline-link a {
  text-decoration: none;
  color: #000;
  transition: all 200ms ease-in-out;
}

.underline-link a:hover {
  color: var(--secondary-color);
}

.navbar {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.8px;
  background-color: #fff;
  margin: 0 20px;
}

.navbar-brand {
  font-size: 11px;
  font-weight: 700;
  margin-right: 8px;
}

.navbar ul {
  width: 100%;
}

header {
  margin: 0 20px 20px 20px;
  background-color: var(--background-color);
}

.header-container {
  padding: 0;
  position: relative;
}

.header-img {
  padding: 20px 20px 20px 0;
}

.header-text {
  padding-left: 50px;
  padding-right: 100px;
}

.header-text h1 {
  line-height: 1.5;
}

.header-button {
  margin-top: 15px;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 0;
}

.secondary-button {
  background-color: var(--secondary-color);
}

.header-logo {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.header-logo:hover {
  background-color: var(--main-color);
  fill: #fff;
}

.worktype {
  margin: 150px 20px 0px 20px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.worktype h4 {
  font-size: 16px;
  letter-spacing: 1.4px;
  margin-top: 20px;
  line-height: 1.5;
}

.border-line {
  border-bottom: 3px solid var(--main-color);
  width: 150px;
  margin: 20px auto;
}

.item-worktype {
  max-width: 300px;
  margin: 30px 15px;
}

.item-worktype img {
  max-width: 100px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.item-worktype img:hover {
  background-color: var(--main-color);
}

.plants {
  margin-top: 100px;
  padding: 100px 0px 100px 70px;
  background-color: var(--background-color);
}

.plants .border-line {
  width: 100%;
}

.plants-row {
  margin-top: 70px;
  padding-right: 70px;
}

.plants-item {
  max-width: 400px;
}

.plants-item img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.plants-item h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.plants-price {
  margin-top: 7px;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 0;
  text-transform: uppercase;
  display: inline-block;
}
